#page {
    background-color: #222;
}

#inst857651 {
    background-color: #333;
    border: none;
}

#inst857651 h5, #inst857651 a, #inst857651 div {
    color: white;
}
#inst857651 a {
   font-weight: 900;
}
.card {
    background-color: #333;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #222;
    color: white;
    border: none;
    border-radius: 50px;
}

.btn-secondary:hover {
    background-color: white;
    color: black;
}
h5, .usertext {
    color: white;
}
.navbar {
    background-color: #044fd9 !important;
}
.navbar-light .navbar-nav .nav-link {
    color:white !important;
}
.dropdown-item:hover {
    background: #444 !important;
}
.dropdown-menu {
    padding: 0;
    border: 0;
    border-radius: 0 0 10px 10px;
}
.dropdown-item, dropdown-item {
    background: #333 !important;
    border: none !important;
    color: white;
}
.dropdown-toggle:focus {
    outline: none !important;
}
.dropdown-toggle::after {
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
    border-top: 4px solid white;
}
.icon, h1, h2, h3, h4 {
    color: white;
}
.bg-gray {
    background-color: #073ea3 !important;
    border: none;
    border-radius: 10px;
}
button.bg-gray:hover {
    background-color: white !important;
}
button.bg-gray:hover .fa-bars:before {
    color: #044fd9;
}
.list-group li a {
    background-color: #2d2d2d !important;
    color: white;
    border: none !important;
}
#nav-drawer .list-group-item[data-parent-key="mycourses"] {
    border-right: none !important;
}
#nav-drawer .list-group-item {
    background-color: #383838;
    color: white;
    border: none;
}
.list-group ul {
    border: none !important;
}
.list-group li a:hover {
    color: #fff;
    background-color: #333 !important;
}
#nav-drawer {
    background-color: #444;
}
.pl-0, .list-group, .list-group-flush {
    background-color: #383838;
}
.h6, .mt-3, .mb-0 {
    color: white !important;
}
.mb-0 a, .pt-2 a {
    color: white;
}
#inst824578 {
    border: none !important;
}
.link a {
    color:white !important;
}
#page-content, div[role=main], #region-main {
    background: #333;
    color: white;
    border: none;
}
#sectionid-963352-title a {
    color: white;
}
