#page {
    background-color: #222;
}

#inst857651 {
    background-color: #333;
    border: none;
}

#inst857651 h5, #inst857651 a, #inst857651 div {
    color: white;
}
#inst857651 a {
   font-weight: 900;
}
.card {
    background-color: #333;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #222;
    color: white;
    border: none;
    border-radius: 50px;
}

.btn-secondary:hover {
    background-color: white;
    color: black;
}

h1, h2, h3, h4, h5 {
    color: white;
}


.list-group li a {
    background-color: #2d2d2d !important;
    color: white;
    border: none !important;
}
#nav-drawer .list-group-item[data-parent-key="mycourses"] {
    border-right: none !important;
}
#nav-drawer .list-group-item {
    background-color: #383838;
    color: white;
    border: none;
}
.list-group ul {
    border: none !important;
}
.list-group li a:hover {
    color: #fff;
    background-color: #333 !important;
}
#nav-drawer {
    background-color: #444;
}
.pl-0, .list-group, .list-group-flush {
    background-color: #383838;
}
.h6, .mt-3, .mb-0 {
    color: white !important;
}
.mb-0 a, .pt-2 a {
    color: white;
}
#inst824578 {
    border: none !important;
}
.link a {
    color:white !important;
}
#page-content, div[role=main], #region-main {
    background: #333;
    color: white;
    border: none;
}
#sectionid-963352-title a {
    color: white;
}
